algoliasearch==2.6.3
python-decouple==3.8
algoliasearch-django==2.0.0
asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
cowsay==6.1
diff-match-patch==20241021
Django==5.1.4
django-cors-headers==4.6.0
django-crispy-forms==2.4
django-debug-toolbar==6.0.0
django-extensions==3.2.3
django-filter==24.3
django-import-export==4.3.7
djangorestframework==3.15.2
djangorestframework-simplejwt==5.5.1
et_xmlfile==2.0.0
gunicorn==23.0.0
idna==3.10
iniconfig==2.0.0
mypy==1.15.0
mypy-extensions==1.0.0
numpy==2.2.6
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pillow==10.4.0
pluggy==1.5.0
psycopg2-binary==2.9.11
PyJWT==2.10.1
pytest==8.3.4
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
six==1.17.0
sqlparse==0.5.1
tablib==3.8.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.4.0